body{
	margin: 0;
}
.slider-container{
	border-radius: 5px;
	margin: 100px auto 0px auto;
	overflow: hidden;
	position: relative;
	width: 800px;
	height: 500px;
}

.word-card{
	position: absolute;
	right: 10px;
	top: 50px;
	font-size: 50px;
	font-family: Arial;
	color: 	#FFD2D2;
	text-shadow:3px 3px 3px #000
}
.slider{
	left: -100%;
	position: absolute;
	font-size: 0;
	width: 200%;
}
.slider img{
	width: 50%;
}
.slider-panel{
	width: 100%;
	color: lightskyblue;
	position: absolute;
	text-align: center;
	bottom: 5px;
}
.slider-panel a{
	margin: 5px;
	cursor: pointer;
	font-size: 30px;
	-webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */

}